@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

.bodyBuy{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.carouselBuy{
    height: 400px;
    width: 400px;
}

.imageBuy{
    width: 400px;
    height: 400px;
}

.aboutBuy{
    margin-top: 70px;
    padding-left: 40px;
}

.aboutBuy h1{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 30px;
}

.aboutBuy h3{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 25px;
}

.aboutBuy h4{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}


.btnQCF{
    margin-top: 10px;
}

.btnChat  {
    margin-left: 100px;
}

.btnFavorito  {
    margin-left: 60px;
}
