.card-feed{
    margin: 0;
}

@media screen and (min-width: 576px) {
    .card-feed{
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .card-feed{
        width: 30%;
        max-width: 30%;
    }
}

@media screen and (max-width: 50vw) {
    .card-feed{
        width: 100%;
        max-width: 100%;
    }
}
